<body>
<script src="<%= Rails.application.config_for(:revo)['revo_script'] %>"></script>
<script>
    var iFrameUrl = "<%= @url %>";

    f = REVO;
    f.Form.onClose(function storeRedirect() { window.location.href = ("<%= @redirect_url %>") });
    f.Form.showPopup(iFrameUrl);
</script>
</body>
