<body>
<script src="<%= Rails.application.config_for(:revo)['revo_script'] %>"></script>
<script>
    var iFrameUrl = "<%= @url %>";
    REVO.Form.showPopup(iFrameUrl);

    <!--          f = REVO.Form();-->
    <!--          f.setOnCloseHandler(function dupa() { window.location.replace("<%= @redirect_url %>") });-->
    <!--          f.showPopup(iFrameUrl);-->
</script>
</body>
